@model StudentAllStudentsVm

@{
    ViewData["Title"] = "All Students";
}

<h2>All Students:</h2>

<table>
    <tr><td><a href="https://localhost:44373/students/details/1">@Model.Studenten[0]</a></td></tr>
    <tr><td><a href="https://localhost:44373/students/details/2">@Model.Studenten[1]</a></td></tr>
    <tr><td><a href="https://localhost:44373/students/details/3">@Model.Studenten[2]</a></td></tr>
</table>
